/* src/content.css */
.my-extension {
    padding: 20px;
    display: flex;
    flex-direction: column;
 }
.spotify-icon-container{

}

.login-button {
   border-radius: 50px;
   padding: 5px 10px;
   color: #FFF;
   background: #1db954;
   border-color: #1db954;
   cursor: pointer;
}
.login-button:focus {
   outline: none;
}

 .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .query-input {
    width: 350px;
    border-image: linear-gradient(to left, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-width: 3px;
    padding-bottom: 5px;
    font-size: 16px;
    background-color: rgb(25, 25, 25);
    color: #FFF;
 }
 .query-input:focus {
    outline: none;
 }

 .microphone-icon {
    cursor: pointer;
 }

 .user-input-container{
   display: flex;
   align-items: center;
 }

 .watson-response-container {
    margin-top: 25px;
 }

 .watson-response-text {
    color: #FFF;
    margin: 0;
    padding: 10px 15px;
    background-color: rgba(0, 255, 67, 0.7);
    border-radius: 20px;
    width: fit-content;
 }